<article class="post">
  <div class="title">title: {{title}}</div>
  <div class="meta"> Contents: {{contents}} |
    {{!-- <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a> --}}
    {{created_at}}
  </div>
</article>