<div class="ui centered container">
<h2> {{posts.title}} | {{posts.location}}</h2>
<p> {{posts.contents}} <br> wrote by {{posts.user.first_name}} {{posts.user.last_name}} on {{format_date posts.created_at}} </p>

<b data-id="comment{{id}}" data-status="hide" class="comment"> comments({{comments.length}})</b>



<form class="ui reply form ">
            <div class="field">
                <textarea id="comment_text"></textarea>
            </div>
            <a href="/view-posts" class="ui secondory submit button">
                View Postings
            </a>

            <button class="ui primary submit labeled icon button comment-form">
                <i class="icon edit"></i> Add Comment
            </button>
        </form>
</div>

<div id="comments" data-post-id="{{post_id}}"></div>

{{#each comments}}
<div class="ui hidden divider" ></div>
<div class="ui centered container">
    <div class="ui comments">
        <div class="comment">
            <a class="avatar">
                <img src="{{user.avatar}}">
            </a>
            <div class="content">
                <a class="author">{{user.firstName}} {{user.lastName}}</a>
                <div class="metadata">
                    <div class="date">{{format_date created_at}}</div>
                </div>
                <div class="text">
                    {{comment_text}}
                </div>
                <div class="actions">
                    <a class="reply">Reply</a>
                </div>
            </div>
        </div>
        {{/each}}
        
    </div>
</div>
<div class="ui hidden divider"></div>
<script src="/assets/js/create-comment.js"></script>
