{{!-- {{#each comments}}

      <div class="comment" data-post-id="{{post_id}}">
        <!--<a class="avatar">
          <img src="{{user.avatar}}">
        </a> -->
        <div class="content">
          <a class="author">{{user.firstName}} {{user.lastName}}</a>
          <div class="metadata">
            <span class="date">{{format_date createdAt}} </span>
          </div>
          <div class="text">
            {{comment_text}}
          </div>

        </div>
      </div>
{{/each}} --}}

<div class="ui centered container">
<form class="ui reply form ">
            <div class="field">
                <textarea id="comment_text"></textarea>
            </div>
            <a href="/view-posts" class="ui secondory submit button">
                View Postings
            </a>

            <button class="ui primary submit labeled icon button comment-form">
                <i class="icon edit"></i> Add Comment
            </button>
        </form>
</div>


{{#each comments}}
<div class="ui hidden divider" data-post-id="{{post_id}}"></div>
<div class="ui centered container">
    <div class="ui comments">
        <div class="comment">
            <a class="avatar">
                <img src="{{user.avatar}}">
            </a>
            <div class="content">
                <a class="author">{{user.firstName}} {{user.lastName}}</a>
                <div class="metadata">
                    <div class="date">{{format_date createdAt}}</div>
                </div>
                <div class="text">
                    {{comment_text}}
                </div>
                <div class="actions">
                    <a class="reply">Reply</a>
                </div>
            </div>
        </div>
        {{/each}}
        
    </div>
</div>

<div class="ui hidden divider"></div>
<script src="/assets/js/create-comment.js"></script>