<div class="ui hidden divider"></div>

<div class="ui centered container">
  <div class="create-post-title">
    <h3>Create New Post <a href="/create-post"> <i class="plus icon"></i></a> </h3>
  </div>
  {{#each posts}}
  <div class="ui hidden divider"></div>
  <div class="topic">
    <h2> {{title}} | {{location}}</h2>
    <p> {{contents}} <br> wrote by {{user.first_name}} {{user.last_name}} on {{format_date createdAt}}
    </p>
    <b data-id="comment{{id}}" data-status="hide" class="comment"> comments({{comments.length}})
    </b>
    <div id="comment{{id}}" class="ui comments hide">
      <h3 class="ui dividing header">Comments 
        <button data-post-id="{{id}}" class="circular ui icon primary button comments-dropdown"><i class="plus circle icon"></i>
        </button>
      </h3>
      {{#each comments}}
      <div class="comment">
        <a class="avatar">
          <img src="{{user.avatar}}">
        </a>
        <div class="content">
          <a class="author">{{user.first_name}} {{user.last_name}}</a>
          <div class="metadata">
            <span class="date">{{format_date createdAt}} </span>
          </div>
          <div class="text">
            {{comment_text}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/each}}
  <div class="ui hidden divider"></div>
</div>

<div class="ui hidden divider"></div>

{{#if posts}}
<script src="/assets/js/view-post.js"></script>
<script src="/assets/js/comment.js"></script>
{{/if}}